    .ui-state-default{
        background:rgb(161, 176, 187);
    }
    .ui-state-active{
        background:rgb(250, 236, 158);
    }
    #accordion h1{
        font-size: 25px;
        padding-top: 2%;
        color: rgb(255, 255, 255);
        font-family:'Merienda One', cursive;
        text-shadow: 5px 1px 3px rgb(6, 69, 128);
    }
    .relleno{
        background-color: rgba(245, 211, 100, 0.534);
        width: 90;
        display: grid;
        grid-template-columns: repeat(3, minmax(30%, 40%));
        grid-auto-rows: auto;
        grid-auto-flow:dense;
        grid-gap: 15px;
    }
    .link{
        background-repeat: no-repeat; 
        background-size:100% auto;
        height: 40%;
        text-align: center;
        padding-top: 10%;
    }

    .info{
        background-color: rgb(157, 225, 252);
        height: 60%;
    }
    p, h1{
        padding: 2%;
        font-family:'Merienda One', cursive;
    }
    .link>a{
        margin: auto;
        width: 50%;
        color: rgb(27, 27, 27);
        text-shadow: 2px 1px  2px rgb(253, 253, 253);
        font-size: 30px;
        text-decoration: none;
        font-family:'Fredericka the Great', cursive;
    }
    .link>a:hover{
        color: rgb(0, 119, 255);
        font-size: 40px;
    }
    .publicacion{
        display: flex;
        flex-direction: column;
        background-color:rgba(114, 169, 190, 0.671);
        height: 250px;
        padding: 2%;
    }

    #accordion{
        width: 80%;
        padding-left: 10%;
    }
    #accordion h1{
        height: 50px;
        text-align: center;
    }
    body{
        background-image: url('https://shmector.com/_ph/17/990955453.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
    }
    #imgArriba{
        position: flex;
        margin-left: 92%;
        bottom: 5%;
        position: fixed;
    }
    #titulo{
        font-size: 50px;
        text-shadow: 5px 2px 2px rgb(255, 255, 255);
        font-family: 'Emblema One', cursive;
        color: rgb(31, 31, 31);
    }
    .eval{
        grid-column: span 3;
        color: rgb(30, 70, 116);
        text-shadow: 2px 2px 2px rgb(255, 255, 255);
        background-color: rgba(135, 175, 182, 0.685);
        font-family: 'Emblema One', cursive;
    }
    #titulo2{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        position: relative;
    }
    #divCasita{
        padding-left: 0%;
        width: 1%;
        position: absolute;
        z-index: 999;
    }

    @media only screen and (max-width: 1050px) {
        p{
            font-size: 70%;
        }
        #titulo{
            font-size: 40px;
        }
        h2{
            font-size: 18px;
        }
        .link>a{
            font-size: 24px;
        }
        #accordion h1{
            font-size: 20px;
        }
        img{
            width: 100px;
        }
        body{
            background-size: 100% 100%;
        }
        #imgArriba{
            position: flex;
            margin-left: 90%;
            bottom: 5%;
            position: fixed;
            z-index: 999;
        }
        #imgArriba img{
            width: 90%;
        }
    }
