@charset "utf-8";
/* CSS Document */

*{
	background-color: #FFCC66;
}
h2{
    font-family:  Verdana;
    color: #6666FF;	
}
a{
    color: #086B04;
    text-decoration: none;	
}
a:hover{
    color: #FF0004;
    text-decoration: underline;
}
.blanco{
    color: #FFFFFF;	
}