/*En general que tengan un texto Literata y unos margenes*/
*{
    margin:1%;
    margin-top: 0.2%;
    font-family: 'Literata', serif;
    
}
/*Zona superior de la web */
.cabecera{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}   
/*Banner*/
.sup{
    background-color: rgba(190, 190, 190, 0.664);
    width: 100%;
    border-radius:10px;
    display: inline;
    position: relative;
}
/*Foto de tom*/
#imgTom{
    width: 30%;
    margin: 2%;
    border-radius: 10%;
}
/*La zona izquierda del banner, foto y nombre*/
.arriba{
    display: flex;
}
/*El nombre */
.arriba>h1{
    margin-top: 5%;
    font-size: 50px;
    text-shadow: 2px 2px #494949;
}

/*Zona de los botones y la navegacíon de la parte superior*/
.navbar{
    display: inline;
    position: relative;
    flex: 1; 
    
}
.subnav{
    float: right;
    margin-left: 15px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 5%;
}
.subnavbtn{
    width: 120px;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    border: none;  
    background-color: rgb(76, 130, 175);
    margin-top:10%;
    border-radius: 10%;
}
.subnav-content{
    display: none;
    position: absolute;
    background-color: #04478688;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;/*para que este por delante del reto de objetos*/
}
.subnav:hover .subnav-content{
    display: block;
    
}
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
}
.navbar a {
    font-size: 16px;
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius:10px;
    
    display: block;
}

/*El cuerpo de la web*/
.todoCuerpo{
    width: 88%;
    margin-left: 5%;
}

.cuerpo{
    position: relative;
    width:100%;
    background-color: rgba(190, 190, 190, 0.664);
    border-radius:10px;
   
}
.cuerpoRelleno{
    width: auto;
    position: relative; 
    height: 100%;
    border-radius: 10%;
    padding:2%;
}
.texto{
    padding:1%;
}
/*Fondos de colores*/
.blanco{
    background-color: rgba(75, 75, 75, 0.377);
    
}
.azul{
    background-color: rgba(76, 130, 175, 0.507);
}

/*H1, h2, a*/
h2{
    color: white;
    font-family: 'Walter Turncoat', cursive;
    text-shadow: 2px 2px #494949;
}
h1{
    color:rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #5a5a5a;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(252, 252, 252);
}
/*ZONA 'DIVISORIA' DE LOS APARTADOS DEL CUERPO*/
.divisor{
    text-align: center;
    background-color: rgb(61, 61, 61);
    
}


@media only screen and (max-width: 900px) {
    #imgTom{
        width: 100px;
        height:  100px;
        margin-top: 10%;
    }
    
}

@media only screen and (max-width: 700px) {
    .arriba>h1{
    font-size: 30px;
    }
    .subnavbtn{
        width:80px;
    }
}