@import url('https://fonts.googleapis.com/css?family=Bitter|Rubik&display=swap');
/*General*/
*{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
h1, h2, h3{
    text-shadow:2px 1px rgb(121, 64, 64);
    font-family: 'Bitter', serif;
    
}
/*BANNER*/
.contCabecera{
    width: 100%;
}
.cabecera{
    padding:1%;
    border: 2px solid rgba(133, 17, 8, 0.904);
    background-color: rgba(54, 3, 3, 0.822);
}
.cabecera>div{
    display: flex;
}
#Titulo{
    font-size: 150px;
    position: relative;
    margin-top:5%;
    padding-left: 15%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:2px 2px rgb(187, 187, 187);
}
img{
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
}

/*MENU LATERAL Y EL CUERPO*/
.elCuerpo{
    display: flex;
    width: 100%;
    margin-top:0.5% ;
    height: 1200px;
}

/*MENÚ LATERAL*/
.mLateral{
    float: left;
    width: 20%;
    padding-top: 2%;
    background-color: rgb(172, 136, 136);
    border: 2px solid rgba(255, 255, 255, 0.904);
    height: 100%;
    padding-bottom: 8%;
}
.mLateral div{
    margin-left: 20%;
}

/*ZONA CENTRAL DEL DOCUMENTO, */
.cuerpo{
    float: right;
    width: 80%;
    padding-top: 2%;
    background-color: rgba(68, 0, 0, 0.603);
    border: 2px solid rgba(133, 17, 8, 0.904);
    height: 100%;
    padding-bottom: 8%;
   
}
.contenido{
    width: 80%;
    padding-left: 5%;
    height: 95%;
    display: block;
}
/*cuando clikemos en una opcion del lateral se pondrá como hijo del contenido y en display block*/

/*INICIO*/
.espacio{
    display: flex;
    padding: 5%;
    width: 90%;
    height: 50%;
}
.espacio>img, #portadaCabecera{
    width: 18%;
    height: 80%;
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
}

.cont{
    height: 90%;
    position: absolute;
}
.info{
    padding-left: 2%;
}
.info>ul>ol{
    padding: 2%;
}

/*CAPÍTULOS*/
.relleno{
    width: 90%;
    display: block;
    padding: 1%;
}
.relleno li{
    padding:1%;
}
/*COMPRAS*/
.compras{
    display: grid;
    grid-template-columns: repeat(2, minmax(30%, 40%));
    grid-auto-rows: auto;
    grid-auto-flow:dense;
    grid-gap: 5%;
    xpadding-left: 15%;
}

/*Personajes*/
strong{
    font-size: 20px;
}

/*Compras libro*/
.imgLinkCompra{
    width: 50%;
    height: 50%;
}

/*Sección autor*/
#divImg{
    width: 30%;
    padding: 2%;
    padding-top: 7%;
}
#divInfo{
    width: 60%;
    padding: 2%;
}
#zonaAutor{
    display: flex;
    xpadding: 1%;
    width: 90%;
    xheight: 90%;
}
#imgSK{
    width: 100%;
    xheight: 80%;
    padding: 1%;
    margin-left: 0px;
}
#autorEnlaces{
    display: inline;
    padding-left: 10%;
}
#autorEnlaces a{
    margin: 8%;
    color: rgb(0, 20, 133);
}

#listaBestSellers{
    display: flex;
    xmargin-left:20%;
    padding-bottom: 2%;
}
#listaBestSellers div{
    xwidth: 25%;
}

#sk{
    padding-left: 3%;
}
#linkNovelas{
    color: blue;
}
#linkNovelas p{
    color:blue;
    padding: 0px;
    font-size: 25px;
    margin: 0px;
}
#bestSellers{
    width: 90%;
    padding-left: 0px;
    padding: 0px;
    float: left;
}
#bestSellers>h3{
    padding-left: 25%;
}
#zonaNovelas{
    width: 90%;
    padding-left: 20%;
}
#listaNovelas{
    display: flex;
    padding-bottom: 2%;
}
#zonaNovelas>h3{
    padding-left: 25%;
}
#Obras{
    display: flex;
    width: 90%;
    padding-left: 2%;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 2%;
}
/*Best sellers seccion Novelas*/
.bs{
    background-color: rgba(79, 129, 21, 0.644);
}
/*pág Novelas*/
.Novelas{
    display: flex;
    width: 100%;
    margin-left: 10%;
}
.Novelas div{
    padding:5%;
    width: 30%;
}
#colorBS{
    width: 30px;
    height: 30px;
    background-color: rgba(79, 129, 21, 0.644);
    xmargin:2%;
}
#novelasVerdes{
    display:flex;
    padding-left: 90%;
    width: 15%;
}
#novelasVerdes p{
    padding-left: 15px;
    margin-top: 5px;
}
/*Cuando te pongas sobre un enlace ponemos el cursor como mano*/
.enlace:hover, #novelasVolver:hover{
    cursor: pointer;
}
@media screen and (max-width: 1600px){
    /*.cont, .relleno{
        padding-left: 0;
        height: 100%;
        font-size: 14px;
    }
    .contenido, */ .mLateral{
        height: 100%;
    }
    .Novelas{
        margin-left: 0;
    }
    #divImg{
        height: 50%;
        margin-top: 0%;
    }
    a{
        font-size: 14px;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
}


#divCapitulos{
    display: none;
    position: absolute;
    margin-left: 20%;
    width: 79%;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 9999;
    color: white;
}
#divCapitulos ul {
    color: white;
    padding-left: 42%;
    padding-top: 2%;
    font-size: 25px;
}
#divCapitulos img{
    width: 5%;
    padding-right:2% ;
    float: right;
    xbackground-color: white;
}
#divCapitulos h1{
    padding-left: 42%;
    font-size: 40px;
}