body{
    background-color: rgb(70, 150, 5);
    background-image: url("IMG/lineas.png");
}
.banner{
    xbackground-image: url("IMG/lineas.png");
    xbackground-color: green;
    background-repeat: repeat-x;
    position: absolute;
    margin-top: -0.40%;
    margin-left: -0.40%;
    width: 100%;
    display: table;
    
}
#ElTitulo{
    margin-top: 0;
    padding-left: 30%;
    
}
main{
    padding-top: 200px;
    width: 100%;
    height: 100%;
}
#imgBeetlejuice{
    width: 250px;
    height: 350px;
}
#datos{
    text-align: left;
    padding-left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.caratula{
    background-color: gold;
    position: relative;
    size:25%;
}
table{
    border-color: black;    
}
#uno{
    border-color: black;
    margin-left: 25%;
    margin-top: 1%;
    width: 50%;
    background-color: rgba(0, 133, 0, 0.877);
}
#dos{
    border-color: black;
    margin-left: 25%;
    margin-top: 1%;
    width: 50%;
    background-color:  rgba(0, 133, 0, 0.877);
}
#infor{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 2%;
}
td h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(145, 9, 9);
    margin: 1%
}
#cuatro{
    border-color: black;
    margin-left: 25%;
    margin-top: 1%;
    width: 50%;
    background-color:  rgba(0, 133, 0, 0.877);
}
.imgActores{
    width: 40%;
    border-radius: 50%;
    border-color: rgba(38, 165, 0, 0.884);
}
#actIzk{
    margin-left: 5%;
    position: absolute;
    margin-top:10%; 
}
#actDer{
    margin-left: 80%;
    position: absolute;
    margin-top:10%; 
    width: 50%;
    
}
.logos{
    margin-left: 25%;
    width: 50%;
    border-radius: 10%;
}