/* CSS Document */

*{
    background-color: #2795F0;
}
.titulos{
    color: #6E251B;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 25px;
}
table{
    border-color: black;
    border-width: thin;
}
td{
    border-color: black;
    border-width: thin;
}
#imAltaIndex{
    position: absolute;
    left: 560px;
    top: 112px;
    
}

.btn{
    font-size: large;
    background-color: #AAAAAA;
    
    border: 5px;
    border-radius: 20px;
    border-color: black;
    
    width: auto;
	display: block;
	margin: auto;
}
#imgAltaPajaro{
    position: absolute;
    left: 310px;
    top: 320px;
    visibility: hidden
}
.btnBarcos{
    font-size: large;
    background-color: #AAAAAA;
    border: 5px;
    border-radius: 10px;
    border-color: black;
    display: block;
    margin: 10px;
    width: 90px;
    height: 25px;
	
}
.tBarcos{
    margin-left: 35%;
}
#BarcosGrandes{
    margin-left: 25%;
    width: auto;
    margin-top: 10px;
	visibility: hidden;
}
#trajes{
    margin-left: 25%;
    width: auto;
    margin-top: 10px;
	
}
#btnVolver{
	font-size: 20px;
	background-color: yellow; 	
}
